/* style for the borther of the signup */
div {
            border: 1px solid black;
        }


/* adjust the message in the signup card */
.message{
    border: 0px;
    justify-content: center;
    display:flex;
}
.noborder{
    border: 0px solid white;
}
.container {
    margin-top: 3px;
}
/* Centering an image horizontally */
.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    margin-top: 70px;
}

/* Background and text color for the login button*/
.green-bg {
    background-color: rgb(86, 190, 86); 
    color: white; 
}


